/* div.breakafter {
    page-break-after: always;
  } */
#watermark {
    margin-top: 30%;
    z-index: -1;
    width: 100%;
    opacity: 0.1;
}
header p{
    width: 45%; 
    float: left; 
    text-align: center;
    font-size: 12px;
}
.tables{
    width: 100%;
    margin-top: -75%;
    border-collapse: collapse;
}
.text-center{
    width: 30%;
    margin-left: 35%;
    margin-bottom: 2%;
    margin-top: 1%;
}
.text-center img{
    width: 100%;
    margin-bottom: 15%;
}
.text {
    width: 60%; 
    margin-bottom: 5%;
    margin-top: 0%;
    font-size: 10px;
}
.logo {
    width: 20%; 
    float: right;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
}           
.center{
    margin-left: 47%;
}                                                                                                                            ²   ²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²&²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²² &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²&    &²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²²